<div *ngIf="product.title" class="card">
  <div class="crop">
    <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt="{{product.title}}">
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ product.title }}</h4>
    <p class="card-text">{{ product.price | currency:'USD':'symbol' }}</p>
  </div>
  <div *ngIf="showActions && cart" class="card-footer">
    <button *ngIf="cart.getQuantity(product) === 0; else updateQuantity" (click)="updateCart()" class="btn btn-secondary btn-block">Add to Cart</button>
    <ng-template #updateQuantity>
      <app-product-quantity [product]="product" [cart]="cart"></app-product-quantity>
    </ng-template>
  </div>
</div>
