$image-margin: -75px 0 0 -100px;

.card-footer {
  padding: 0;

  button {
    cursor: pointer;
  }
}

.card {
  margin-bottom: 30px;
}

.crop {
  width: 395px;
  height: 395px;
  overflow: hidden;
}
