<div class="row" *ngIf="isLoggedIn">
  <div class="column">
    <h3>You are logged in as
      <strong>{{ user.userName || user.email }}</strong>.</h3>
    <div>Please use ChatTime! by interacting with the box on the lower right.</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <!-- <div class="column medium-6 medium-centered large-4 large-centered"> -->

      <form #loginForm="ngForm" class="form-horizontal" (ngSubmit)="submitLogin(loginForm)" novalidate="">
        <fieldset>
          <div id="legend">
            <legend class="text-center">Email Login</legend>
          </div>

          <div class="example-container">

            <mat-form-field>
              <input name="email" matInput placeholder="Enter your email" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input name="password" matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'">
              <mat-icon class="nav-item" matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}
              </mat-icon>
            </mat-form-field>

          </div>

          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button class="btn btn-success nav-item" type="submit">Login</button>
            </div>
          </div>
          <p class="text-center expanded">
            <a [routerLink]="['/signup']" routerLinkActive="active">New User Signup?</a>
          </p>
        </fieldset>
      </form>

    </div>
  </div>
</div>
