@import "../_chat-settings.scss";

.node-tab {
  height: 27.5rem;
  max-height: calc(100vh - 3rem);
  width: 100%;
  background: $light-gray;
  div.title-bar {
    padding: 0 0.25rem 0 1rem;
    font-weight: bold;
    background-color: $off-black;
    height: 2.5rem;
    h3 {
      margin: 0;
      color: #8a8a8a;
    }
  }
}

.chat-window-topbar {
  padding: 0 0.5rem 0 0;
}

.tab-button {
  color: $dark-gray;
  padding: 0.25rem 0rem 0.25rem 0.5rem;
}

.tab-button:hover {
  color: $light-gray;
}

