<div class="jumbotron home-section">
  <div class="container">
    <h1 class="display-2">Chat Demo App</h1>
    <!-- <h2 class="display-3">Welcome!</h2> -->
    <p>Interact with Chat by clicking on the button in the lower right corner</p>
    <p>This app is a rudimentary marketing and service supplier.</p>
    <p>
      Please check the example
      <a class="text-primary font-weight-bold" routerLink="/products">products</a> page
    </p>
    <p>
      <a class="btn btn-primary btn-lg" routerLink="/products" role="button">Products &raquo;</a>
    </p>
  </div>

  <hr />
</div>
