@import "../_chat-settings.scss";

.chat-user-list {
  width: 100%;
}

.rooms-node {
  width: 6rem;
}

.users-node {
  width: 6rem;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button-small {
  padding: 2px 30px 2px 2px;
  border: none;
  cursor: pointer;
  color: darkblue;
  background: none;
}
// .node {
//   height: 2.5rem;
//   padding: 8px 4px 4px 14px;
//   background-color: $off-black;
//   color: $dark-gray;
//   margin: 1px 1px 1px 1px;
//   border-left: 1px;
//   min-width: 2.5rem;
//   &.expanded {
//     width: $node-width;
//   }
//   // &.is-collapsed {
//   //   padding: 0;
//   // }
//   &:hover {
//     background-color: $dark-gray;
//     border: 1px solid black;
//     color: $light-gray;
//   }
//   pointer-events:all;
// }
