<div class="row" *ngIf="!openState">
  <button mat-button color="primary" (click)="toggleActivator($event)">
    <i class="fa fa-chevron-left fa-1x fa-center"></i>
    Chat
  </button>
</div>
<!-- <div class="node is-collapsed row align-middle" *ngIf="!openState" (click)="toggleActivator($event)">
  <i class="fa fa-chevron-left fa-1x fa-center"></i>
</div> -->
<div *ngIf="openState">
  <mat-accordion>
    <!-- <mat-expansion-panel [expanded]="true"> -->
    <mat-expansion-panel
      [expanded]="true"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <button
          class="button-small"
          color="primary"
          (click)="toggleActivator($event)">
            <i class="fa fa-chevron-right fa-1x fa-center"></i>
            <!-- Chat -->
          </button>
        </mat-panel-title>
        <mat-panel-description>
          <!-- CLICK HERE TO CHAT -->
          {{panelOpenState ? 'Welcome' : 'CLICK HERE TO CHAT'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <!-- <p>I'm visible because I am open</p> -->
      <!-- <div class="node rooms-node align-middle noselect" (click)="toggleRooms()">
        <i class="fa fa-comments fa-1x fa-center"></i>
        <span>&nbsp;({{ numOpenRooms }})</span>
      </div> -->
      <chat-tabs></chat-tabs>

      <h6>Move to Options Component</h6>
      <div class="button-row">
        <button mat-fab>Basic</button>
        <button mat-fab color="primary">Primary</button>
        <!-- <button mat-fab color="accent">Accent</button>
          <button mat-fab color="warn">Warn</button>
          <button mat-fab disabled>Disabled</button>
          <button mat-fab>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button> -->
        <a mat-fab routerLink=".">Link</a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>

<!-- <div class="node is-collapsed row align-middle" *ngIf="!openState" (click)="toggleActivator($event)">
  <i class="fa fa-chevron-left fa-1x fa-center"></i>
</div>
<div *ngIf="openState">

<chatTabs>
    <chat-tab [id]="ActivatorTabs.OPTIONS" name="Options">
      <chat-options></chat-options>
    </chat-tab>
    <chat-tab [id]="ActivatorTabs.USERS" name="Users" active="true">
      <chat-user-list class="chat-user-list"></chat-user-list>
    </chat-tab>
    <chat-tab [id]="ActivatorTabs.ROOMS" name="Rooms">
      <chat-room-list></chat-room-list>
    </chat-tab>
  </chatTabs>
  <div class="row collapse node-group">
    <div class="column shrink align-bottom flex-container" *ngIf="showOnlyOpenRooms">
      <div class="node rooms-node align-middle noselect" (click)="toggleRooms()">
        <i class="fa fa-comments fa-1x fa-center"></i>
        <span>&nbsp;({{ numOpenRooms }})</span>
      </div>
    </div>
    <div class="column shrink align-bottom flex-container" *ngIf="!(showOnlyOpenRooms)">
      <div class="node rooms-node align-middle noselect" (click)="toggleRooms()">
        <i class="fa fa-comments fa-1x fa-center"></i>
        <span>&nbsp;({{ numRooms }})</span>
      </div>
    </div>
    <div class="column shrink align-bottom flex-container">
      <div class="node users-node align-middle noselect" (click)="toggleUsers()">
        <i class="fa fa-users fa-1x fa-center"></i>
        <span>&nbsp;({{ numUsers }})</span>
      </div>
    </div>
    <div class="column shrink align-bottom flex-container">
      <div class="node align-middle noselect" (click)="toggleOptions()">
        <i class="fa fa-ellipsis-v fa-1x fa-center"></i>
      </div>
    </div>
    <div class="column shrink align-bottom flex-container">
      <div class="node is-collapsed align-middle noselect" (click)="toggleActivator($event)">
        <i class="fa fa-chevron-right fa-1x fa-center"></i>
      </div>
    </div>
  </div>
</div> -->
