<!DOCTYPE html>
<div class="card" [style.width.rem]="getWidth()">
  <div class="row title-bar">
    <div class="column small-12">
      <div class="float-left">
        <h3 class="no-spacing">{{ description }}</h3>
      </div>
      <div class="float-right chat-window-topbar">
        <button class="room-button-part" *ngIf="showParticipantButton()" (click)="toggleShowParticipants()" onfocus="blur()" type="button"><i class="fa fa-user fa-1"></i></button>
        <button class="room-button" (click)="onToggleMinimize()" onfocus="blur()" type="button"><i class="fa fa-window-restore fa-1" *ngIf="minimized"></i><i class="fa fa-window-minimize fa-1" *ngIf="!minimized"></i></button>
        <button class="room-button" (click)="onCloseRoom()" onfocus="blur()" type="button"><i class="fa fa-times fa-1"></i></button>
      </div>
    </div>
  </div>
  <div class="row content" *ngIf="!minimized">
    <div class="column small messages expand">
      <form (ngSubmit)="submitMessage(newMessageForm)" novalidate autocomplete="off" #newMessageForm="ngForm">
        <div class="messages-frame" #messagesFrame>
          <div class="message-row message" *ngIf="compositeMessages.length===0">
            <p>There are no messages yet.</p>
            <p>Why don't you start the conversation?</p>
            <div class="spacer-1rem"></div>
          </div>
          <div *ngIf="compositeMessages.length&gt;0">
            <div class="message-row" *ngFor="let compositeMessage of compositeMessages; let i = index">
              <chat-composite-message [compositeMessage]="compositeMessage" [messagesReadTime]="messagesReadTime"></chat-composite-message>
            </div>
          </div>
        </div>
        <div class="input-group message-text">
          <input class="input-group-field" type="text" name="newMessageText" #messagesInput autofocus required #newMessageInput="ngModel" ngModel>
          <div class="input-group-button">
            <button class="button small" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
    <div class="column small-4" *ngIf="showParticipantColumn()">
      <div class="participants">
        <h4>Participants</h4>
        <div *ngIf="theParticipants?.length===0">No users</div>
        <div class="user-row row" *ngFor="let user of theParticipants; let i = index">
          <div class="column small-12" [ngClass]="{'logged-in': user.loggedIn}">{{ user.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>