<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <!-- <div class="column medium-6 medium-centered large-4 large-centered"> -->
      <mat-error *ngIf="form.errors">Invalid signup</mat-error>
      <form [formGroup]="form" class="form-horizontal" (ngSubmit)="submitSignUp()" novalidate="">
        <fieldset>
          <div id="legend">
            <legend class="text-center">Email Sign Up</legend>
          </div>

          <div class="example-container">

            <mat-form-field>
              <input formControlName="userName" matInput placeholder="Enter your username" id="userName" type="text">
              <mat-hint *ngIf="!!userName && userName.pending">Checking for uniqueness...</mat-hint>
              <mat-error *ngIf="formControlError(userName, 'shouldBeUniqueUserName')">{{ "User Name is already in use" }}</mat-error>
              <mat-error *ngIf="formControlError(userName, 'cannotContainSpace')">{{ "User Name must not contain spaces" }}</mat-error>
              <mat-error *ngIf="formControlError(userName, 'required')">{{ "User Name is required" }}</mat-error>
              <mat-error *ngIf="formControlError(userName, 'minlength')">
                User Name must be a minimum of {{ userName.errors.minlength.requiredLength }} characters
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="email" matInput placeholder="Enter your email" id="email" type="text">
              <mat-error *ngIf="formControlInvalid(email)">Email is invalid</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="password" matInput placeholder="Enter your password" id="password" [type]="hide ? 'password' : 'text'">
              <mat-icon class="nav-item" matSuffix (click)="hide = !hide">{{ hide ? 'visibility' : 'visibility_off' }}
              </mat-icon>
              <mat-error *ngIf="formControlError(password, 'cannotContainSpace')">{{ "Password must not contains spaces" }}</mat-error>
              <mat-error *ngIf="formControlError(password, 'minlength')">
                Password must be a minimum of {{ password.errors.minlength.requiredLength }} characters
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="confirmPassword" matInput placeholder="Confirm your password" id="confirmPassword" [type]="hide ? 'password' : 'text'">
              <mat-error *ngIf="formControlError(confirmPassword, 'matchPassword')">{{ "Passwords must match" }}</mat-error>
            </mat-form-field>

          </div>

          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button class="btn btn-success" type="submit">Sign Up</button>
            </div>
          </div>
          <p class="text-center expanded">
            <a [routerLink]="['/login']" routerLinkActive="active">Already signed up?</a>
          </p>
        </fieldset>
      </form>

    </div>
  </div>
</div>
