<h1 class="text-center">Product and Services List</h1>

<div class="prod-container">

  <div style="margin: auto; max-width: 900px;">
    <data-table [tableId]="tableId">
      <data-table-column width="55px" [resizable]="true" header="URL">
        <ng-template #dataTableCell let-item="item">
          <div class="thumbnail" [style.backgroundImage]="'url(' + item.imageUrl +')'"></div>
        </ng-template>
      </data-table-column>
      <data-table-column property="category" header="Category" sortable="true">
      </data-table-column>
      <data-table-column property="title" header="Title">
      </data-table-column>
      <data-table-column property="price" [sortable]="true" header="Price ($)">
        <ng-template #dataTableCell let-item="item">
          <span>{{ item.price | currency:'USD':'symbol' }}</span>
        </ng-template>
      </data-table-column>
      <data-table-column header="Actions">
        <ng-template #dataTableHeader let-item="item">
          <i>Actions</i>
        </ng-template>
        <ng-template #dataTableCell let-item="item">
          <button (click)="editProductClicked(item)" class="btn btn-sm btn-default">Edit</button>
          <button (click)="copyProductClicked(item)" class="btn btn-sm btn-default">Copy</button>
        </ng-template>
      </data-table-column>
    </data-table>
    <div>
      <div>
        <b>Selected:</b>
        <span>{{ selectedRowIds.length }}</span>
      </div>
      <div *ngFor="let selected of selectedRowIds">
        <span>{{ selected }}</span>
      </div>
    </div>
  </div>

</div>
