<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <!-- Navbar content -->
  <div class="container">
    <h4 class="card-title">{{ room.description }}</h4>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <button type="button" class="btn btn-primary" (click)="minimize()">Minimize</button>
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-primary" (click)="close()">Close</button>
      </li>
    </ul>
  </div>
</nav>
<div class="card">
  <div class="card-body">
    <p class="card-text">{{ participants }}</p>
    <div class="row">
      <div class="col">
        <div *ngIf="compositeMessages.length===0">
          <p>There are no messages yet.</p>
          <p>Why don't you start the conversation?</p>
        </div>
        <div *ngIf="compositeMessages.length">
          <div *ngFor="let compositeMessage of compositeMessages; let i = index">
            <chat-composite-message [compositeMessage]="compositeMessage" [messagesReadTime]="messagesReadTime"></chat-composite-message>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
