<p>
  broadcast-message works!
</p>
<form #submitMessageForm="ngForm"
  class="example-form"
  (ngSubmit)="submitMessage(submitMessageForm)"
  novalidate=""
  >
  <!-- <mat-form-field class="example-full-width">
    <input
      name="favFooda"
      matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>
  <mat-form-field name="message1" class="example-full-width">
    <textarea
      name="message1"
      matInput placeholder="Message to send"></textarea>
  </mat-form-field> -->
  <mat-form-field  name="message" class="example-full-width">
    <textarea matInput placeholder="Message to send"
      [(ngModel)]="message"
      name="message"
      matTextareaAutosize matAutosizeMinRows="2"
      matAutosizeMaxRows="5"></textarea>
  </mat-form-field>
  <div class="control-group">
    <!-- Button -->
    <div class="controls">
      <button class="btn btn-success" type="submit">Send Message</button>
    </div>
  </div>

</form>
