@import "../_chat-settings.scss";
$font-size: 30px;
// Chat room styling
.row-chat {
  background: #f4f4f4;
  height: auto;
}

.item-chat {
  border: 1px solid #333;
  width: 270px;
  height: auto;
  opacity: 0.8;
}

.message-area {
  height: 300px;
}

// user styling
.item-user {
  border: 1px solid #333;
  width: 270px;
  height: auto;
  opacity: 0.8;
}

.fa-user {
  color: $loggedInColor;
  background: white;
  padding: 1px;
  border-radius: 3px;
  font-size: $font-size;
}

.fa-user-plus {
  color: $loggedOutColor;
  background: white;
  padding: 1px;
  border-radius: 3px;
  font-size: $font-size;
}

.add-button {
  width: 100%
}

.user-area {
  height: auto;
}

.user-name {
  width: 125px;
}

.chat-display-options {
  display: flex;
  align-items: flex-end;
  .node{
    justify-content: center;
  }
}

.chat-activator {
  position: relative;
  pointer-events: all;
}

.chat-controller{
  display: flex;
  margin: $node-controller-margin;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0;
  flex-direction: row-reverse;
  pointer-events:none;
}

.cursor-pointer {
  cursor: pointer;
}

// .node {
//   margin: $node-margin;
//   // margin: 1px 1px 1px 1px;
//   height: 2.5rem;
//   padding: 8px 4px 4px 14px;
//   background-color: $off-black;
//   color: $dark-gray;
//   border-left: 1px;
//   min-width: 2.5rem;
//   &.expanded {
//     width: $node-width;
//   }
//   // &.is-collapsed {
//   //   padding: 0;
//   // }
//   &:hover {
//     background-color: $dark-gray;
//     border: 1px solid black;
//     color: $light-gray;
//   }
//   pointer-events:all;
// }
